<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body  class="gradient-container">
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="user">Name:</label>
                <input type="text" id="user" name="user" required>
            </div>
            <div class="form-group">
                <label for="identity">Admin number:</label>
                <input type="text" id="identity" name="identity" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="Sign-In">Sign In</button>
            </div>
            <div class="form-group">
                <a style="font-size: 12px" href="{{ url_for('createAcc') }}">Create a new account</a>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='login.js') }}"></script>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    
</body>
</html>