/* General Styles */
body.gradient-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  line-height: 1.6;
  background: linear-gradient(to bottom,#fad0c4 0%, #a8edea 100%);
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
  
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

header {
  padding: 1rem 0;
  text-align: center;
}

h1 {
  color: #333 ;
  margin: 0.5rem 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 2rem;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffcc00;
}

main {
  padding: 2rem;
}

h2 {
  color: #333;
  margin-bottom: 1rem;
}

/* Search Bar */
input[type="text"] {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Book Grid */
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.book-item {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.book-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.book-cover {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.book-details {
  padding: 1rem;
}


/* Filter Section */
.filter-section {
  margin-bottom: 2rem;
}


/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;  
  color: white;
}


/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ddd;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styles */

.form-group button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #0056b3;
}


.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#detail-cover {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 5px;
}
